[v-cloak] {
    display: none;
}

body {
    margin: 0;
}

.content {
    margin: 40px auto;
    width: 350px;
    height: 500px;
    background-color: #fff;
    border: 10px solid  #9e9e9e38;
    position: relative;
}

.header {
    margin: 0 10px;
    max-height: 420px;
    height: 430px;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
}

.btn {
    margin: 0 auto;
    display: inline-block;
    width: 80px;
    font-size: 12px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #39f;
    width: 100%;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
}

button:active {
    top: 1px;
    left: 1px;
}